{% set title = "Page Name" %}
{% set user = ["Progamer", "BananaUser", "GromiK", "Drax", "kleale", "Bonus", "Gamover"] %}
{% set game = ["DOTA2", "CSGO", "LOL", "Overwatch", "Fortnite"] %}
{% set team = ["Creep", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI", "KG",
"Virtus.Pro"] %}
{% set teamlong = ["Movistar Riders", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI",
"KG",
"Virtus.Pro"] %}
{% set teamurl=
["dreamteam-2","somos-los-rex","creep-gaming","toshik-gaming","dreamteam-2","testuniverse2","hashteam1","take-that","gol-pashmian-ya-kon-pashm"]
%}
{% set teamlogo = ["team1", "team2", "team3", "team4", "team5"] %}
{% set teamlogo2 = ["3","11","16","4051","6274","10785","4653","49","17","1","14","15"] %}
{% set prize =
["12,000","11,000","16,000","4,000","6,274","1,000,000","46,530","4,900","1,700","10,000","140,000","1,500,000"] %}
{% set tourlogo = ["tour1", "tour2", "tour3", "tour4"] %}

{% set gamelogo = ["dota2", "csgo", "lol", "hs", "ow", "fn", "pubg", "rl", "artifact", "rs", "sc2"] %}
{% set tour = ["Five Winter Cup", "Brasil Esport CSCompetion 2021", "Dota Main Winter Cup 2020", "Fortnite Night Cup
2021", "LinkenID" ] %}
{% set tourshort = ["FWC", "DMWinCup", "Cyber Over ", "Lin", "HP", "shortt", "same", "DW2020", "BrasilEsport 21",
"CDA-FDC" ] %}
{% set toururl = ["five-winter-cup", "brasil-esport-cscompetion-2021", "dota-main-winter-cup-2020 ",
"fortnite-night-cup-2021", "cyber-over-cup-2020", "linkenid", "same", "full-hp", "engl" ] %}
{% set serie = ["Asian Gold Occupation ", "Masters Tournament", "VAL", "Merkur Masters", " NeXT", " ", " ", " ", " "] %}
{% set dates = ["2020-11-29 — 2020-11-29 ", "2020-11-27 — 2020-12-15", "2020-12-10 — 2020-12-12", "2020-12-12 —
2020-12-14", "2020-11-28 — 2020-11-29", "2020-11-23 — 2020-11-27", "2020-11-24 — 2020-12-15", "—"] %}

{% set num = ["1", "21", "34", "14", "3", "11", "7"] %}
{% set date = ["1 января", "сегодня"] %}
{% set status = ["Прошедший", "Будущий", "Текущий"] %}
{% set stagetype = ["Основная", "Группы", "Сетка"] %}
{% set stage = ["Stage1", "Main Event", "Stage 2", "Finals", "Latin America", "North America", "Qualifier", "Weekly
Final", "Weekly Survival"] %}
{% set stageurl = ["stage-2", "main-event", "stage-2", "finals", "latin-america", "north-america", "qualifier",
"weekly-final", "weekly-survival"] %}

{% set player = ["PAAD1N", "Nightaliscious", "Choko", "Bisbo", "Aggro" ] %}
{% set playerlong = ["Bronnikov Roman", "Voronin Danil", "Akram Patarov", "Nguyễn Lâm Việt Sinh", "Kang Min-seok" ] %}
{% set playerurl = ["123-smurf", "nightaliscious", "choko", "Bisbo", "aggro" ] %}
{% set burth = ["1988-07-22", "1966-04-12", "1975-03-01", "2001-05-08", "2007-04-08"] %}


<!DOCTYPE html>
<html style="height: auto;">
{% include "./tpl/head.html" %}

<style>
    .select2-container--default~.select2-container--default {
        display: none !important;
    }
</style>


<body class="sidebar-mini layout-fixed layout-navbar-fixed" data-controller="loader index" style="height: auto;">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4"><a class="brand-link"
                href="https://esnadm.com/"><span class="brand-text">DMP</span></a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3"><span class="info"><a class="d-block"
                            href="https://esnadm.com/dmp_admins/profiles/1/edit">adm@esnadm.com</a><a rel="nofollow"
                            data-method="delete" href="https://esnadm.com/dmp_admins/sign_out">Logout</a></span></div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                        role="menu">

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments">Турниры</a></li>

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_stages">Стадии</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_rounds">Раунды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_round_tabs">Cубраунды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_match_lists">Матчи</a></li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/discipline/api/dota2/live_games">API: Dota2<span
                                    class="right badge badge-danger" data-controller="realtime-partial"
                                    data-realtime-partial-key="discipline/api/dota2/live_game/unlinked_games">13</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/odds_matches">Коэффициенты на матчи</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_venues">Места проведения</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_teams_lists">Команды</a></li>
                        <li class="nav-item"><a class="nav-link active" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_player_lists">Игроки</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_streams">Стримы</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_video_autos">Видео</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/esn_breezes">Новости</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><strong><a class="with-icon" href="/"><i
                                        class="fas fa-home"></i>Dashboard</a></strong></li>
                        <li class="breadcrumb-item active">Игроки</li>
                    </ol>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card" id="gt_player_lists_filter">
                                <div class="card-body" data-controller="filter-form">
                                    <form novalidate="novalidate" class="simple_form search" action="/gt_player_lists"
                                        accept-charset="UTF-8" data-remote="true" method="get">
                                        <div class="form-row" data-controller="select2" data-target="filter-form.form">
                                            <div class="form-group col-sm-2 select2 required search_game"><select
                                                    class="form-control select2 required select2-hidden-accessible"
                                                    autocomplete="off" data-target="select2.select" data-width="100%"
                                                    data-language="ru" data-mirror="#gt_player_list_game_id"
                                                    data-placeholder="Все дисциплины" data-allow-clear="true"
                                                    data-adapter-func="select2/data/extended-ajax" name="search[game]"
                                                    id="search_game" data-select2-id="search_game" tabindex="-1"
                                                    aria-hidden="true">
                                                    <option value="" data-select2-id="2">Все дисциплины</option>
                                                    <option value="100">PUBG</option>
                                                    <option value="200">Valorant</option>
                                                    <option value="300">Fortnite</option>
                                                    <option value="313">LoL</option>
                                                    <option value="582">Dota 2</option>
                                                    <option value="600">Rainbow Six</option>
                                                    <option value="704">CS:GO</option>
                                                    <option value="755">Hearthstone</option>
                                                    <option value="800">Overwatch</option>
                                                </select><span
                                                    class="select2 select2-container select2-container--default"
                                                    dir="ltr" data-select2-id="1" style="width: 100%;"><span
                                                        class="selection"><span
                                                            class="select2-selection select2-selection--single"
                                                            role="combobox" aria-haspopup="true" aria-expanded="false"
                                                            tabindex="0" aria-disabled="false"
                                                            aria-labelledby="select2-search_game-container"><span
                                                                class="select2-selection__rendered"
                                                                id="select2-search_game-container" role="textbox"
                                                                aria-readonly="true"><span
                                                                    class="select2-selection__placeholder">Все
                                                                    дисциплины</span></span><span
                                                                class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                                            <div class="form-group col-sm-3 string required search_players_title"><input
                                                    class="form-control string required" placeholder="Все ники"
                                                    type="text" name="search[players_title]" id="search_players_title">
                                            </div>
                                            <div class="form-group col-sm-3 string required search_players_api_id">
                                                <input class="form-control string required" placeholder="Все API ID"
                                                    type="text" name="search[players_api_id]"
                                                    id="search_players_api_id">
                                            </div>
                                            <div class="col-sm-1" style="white-space: nowrap;"><span
                                                    class="span-link"><a class="btn btn-primary"
                                                        data-title="Обратите внимание"
                                                        data-message="URL скопирован в буфер обмена"
                                                        data-target="filter-form.link"
                                                        data-action="filter-form#copy_url" href="#"><i
                                                            class="fas fa-copy"></i></a></span><span
                                                    class="span-link"><button name="button" type="submit"
                                                        class="btn btn-primary"><i
                                                            class="fas fa-search"></i></button></span></div>
                                            <!-- EDIT -->
                                            <div class="col-sm-3" style="white-space: nowrap;">
                                                <button class="btn btn-success float-right collapsed"
                                                    data-toggle="collapse" data-target="#collapseThree"
                                                    aria-expanded="false" aria-controls="collapseThree"
                                                    title="Добавить"><i class="fas fa-plus"></i></button>
                                            </div>
                                            <!--. EDIT -->
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- EDIT -->
                            <div class="accordion" id="accordionExample">
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">

                                    <form class="simple_form new_gt_player_list" id="new_gt_player_list"
                                        autocomplete="off" novalidate="novalidate" action="/gt_player_lists"
                                        accept-charset="UTF-8" data-remote="true" method="post">
                                        <div class="card">
                                            <div class="card-body"><input value="new" type="hidden"
                                                    name="gt_player_list[form_part]" id="gt_player_list_form_part">
                                                <div data-controller="select2">
                                                    <div
                                                        class="form-group row select2 required gt_player_list_game form-group-valid">
                                                        <label class="col-sm-2 col-form-label select2 required"
                                                            for="gt_player_list_game_id">Дисциплина <abbr
                                                                title="обязательное">*</abbr></label>
                                                        <div class="col-sm-10"><select
                                                                class="form-control select2 required select2-hidden-accessible"
                                                                autocomplete="off" data-target="select2.select"
                                                                data-width="100%" data-language="ru"
                                                                data-placeholder="Выберите дисциплину"
                                                                data-allow-clear="true"
                                                                data-adapter-func="select2/data/extended-ajax"
                                                                name="gt_player_list[game_id]"
                                                                id="gt_player_list_game_id"
                                                                data-select2-id="gt_player_list_game_id" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="" data-select2-id="4">Выберите дисциплину
                                                                </option>
                                                                <option value="100">PUBG</option>
                                                                <option value="200">Valorant</option>
                                                                <option value="300">Fortnite</option>
                                                                <option value="313">LoL</option>
                                                                <option value="582">Dota 2</option>
                                                                <option value="600">Rainbow Six</option>
                                                                <option value="704">CS:GO</option>
                                                                <option value="755">Hearthstone</option>
                                                                <option value="800">Overwatch</option>
                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="3" style="width: 100%;"><span
                                                                    class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-gt_player_list_game_id-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-gt_player_list_game_id-container"
                                                                            role="textbox" aria-readonly="true"><span
                                                                                class="select2-selection__placeholder">Выберите
                                                                                дисциплину</span></span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span></div>
                                                    </div>
                                                    <div
                                                        class="form-group row select2 required gt_player_list_country form-group-valid">
                                                        <label class="col-sm-2 col-form-label select2 required"
                                                            for="gt_player_list_cid">Страна</label>
                                                        <div class="col-sm-10"><select
                                                                class="form-control select2 required select2-hidden-accessible"
                                                                autocomplete="off" data-target="select2.select"
                                                                data-width="100%" data-language="ru"
                                                                data-endpoint="gt_countries.json"
                                                                data-template-selection-name="template_with_flag"
                                                                data-template-result-name="template_with_flag"
                                                                data-placeholder="Выберите страну"
                                                                data-allow-clear="true" data-minimum-input-length="1"
                                                                data-adapter-func="select2/data/extended-ajax"
                                                                name="gt_player_list[cid]" id="gt_player_list_cid"
                                                                data-select2-id="gt_player_list_cid" tabindex="-1"
                                                                aria-hidden="true">
                                                                <option value="" data-select2-id="6">Выберите страну
                                                                </option>
                                                                <option
                                                                    data-template_with_flag="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/1.png&quot; />Корея</span>"
                                                                    value="1" data-select2-id="7">Корея</option>
                                                                <option
                                                                    data-template_with_flag="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/2.png&quot; />США</span>"
                                                                    value="2" data-select2-id="8">США</option>
                                                            </select><span
                                                                class="select2 select2-container select2-container--default"
                                                                dir="ltr" data-select2-id="5" style="width: 100%;"><span
                                                                    class="selection"><span
                                                                        class="select2-selection select2-selection--single"
                                                                        role="combobox" aria-haspopup="true"
                                                                        aria-expanded="false" tabindex="0"
                                                                        aria-disabled="false"
                                                                        aria-labelledby="select2-gt_player_list_cid-container"><span
                                                                            class="select2-selection__rendered"
                                                                            id="select2-gt_player_list_cid-container"
                                                                            role="textbox" aria-readonly="true"><span
                                                                                class="select2-selection__placeholder">Выберите
                                                                                страну</span></span><span
                                                                            class="select2-selection__arrow"
                                                                            role="presentation"><b
                                                                                role="presentation"></b></span></span></span><span
                                                                    class="dropdown-wrapper"
                                                                    aria-hidden="true"></span></span></div>
                                                    </div>
                                                    <div class="form-group row string required gt_player_list_title">
                                                        <label class="col-sm-2 col-form-label string required"
                                                            for="gt_player_list_title">Ник <abbr
                                                                title="обязательное">*</abbr></label>
                                                        <div class="col-sm-10"><input
                                                                class="form-control string required" type="text"
                                                                value="" name="gt_player_list[title]"
                                                                id="gt_player_list_title"></div>
                                                    </div>
                                                    <div class="form-group row string optional gt_player_list_name">
                                                        <label class="col-sm-2 col-form-label string optional"
                                                            for="gt_player_list_name">Имя</label>
                                                        <div class="col-sm-10"><input
                                                                class="form-control string optional" type="text"
                                                                value="" name="gt_player_list[name]"
                                                                id="gt_player_list_name"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer"><input type="submit" name="commit"
                                                    value="Добавить + Редактировать" class="btn btn-primary"
                                                    formaction="/gt_player_lists?action_after_create=edit"
                                                    data-disable-with="Добавить + Редактировать"></div>
                                        </div>
                                    </form>


                                </div>
                            </div>
                            <!-- .EDIT -->

                            <div class="card" id="gt_player_lists_index">
                                <div class="overlay dark" id="index-loader" style="display:none"><i
                                        class="fas fa-3x fa-sync-alt fa-spin"></i></div>
                                <div class="card-body p-0">
                                    <div class="table-responsive" data-controller="sortable putable">
                                        <table class="table table-striped table-valign-middle table-hover text-nowrap">
                                            <thead class="dark">
                                                <tr>
                                                    <th width="60px"></th>
                                                    <th width="80px" class="text-center">ID #</th>
                                                    <th width="60px" class="text-center">Страна</th>
                                                    <th class="text-center" width="30px"></th>
                                                    <th width="210px">Игрок</th>
                                                    <th width="210px">Транслит</th>
                                                    <th width="140px">Дата рождения</th>
                                                    <th>API</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in 60..90 %}
                                                <tr id="row-{{i}}">
                                                    <td class="text-center"><img class="gameicon"
                                                            src="/img/svg/{{random(gamelogo)}}.svg"
                                                            title="{{random(game)}}" alt="{{random(game)}}" /></td>
                                                    <td class="text-center">{{i}}</td>
                                                    <td class="text-center"><img
                                                        style="width: 20px; height: 20px; object-fit: contain;"
                                                        onerror="this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';"
                                                        src="https://assets.esnadm.com/media/flag/{{i}}.png"></td>
                                                    <td class="text-center"><img
                                                            style="width: 30px; height: 30px; border-radius: 50%; object-fit: contain;"
                                                            onerror="this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';"
                                                            src="https://assets.esnadm.com/media/logo/_60/p71124.png?WhkV">
                                                    </td>
                                                    <td>
                                                        <strong>{{random(player)}}</strong><br>
                                                        <small>{{random(playerlong)}}</small>&nbsp;<small>
                                                    </td>
                                                    <td> 
                                                        {{random(playerurl)}}
                                                    </td>
                                                    <td>{{random(burth)}}</td>
                                                    <td>
                                                        {% if i == 63 or i == 65 or i == 68 or i == 72 %}
                                                            <i style="color:green" title="Есть" class="fas fa-check"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-right"><a class="btn btn-primary btn-sm"
                                                            href="/gt_player_lists/71124/edit"><i
                                                                class="fas fa-pencil-alt"></i></a><a
                                                            data-confirm="Вы уверены?" class="btn btn-danger btn-sm"
                                                            rel="nofollow" data-method="delete"
                                                            href="/gt_player_lists/71124"><i
                                                                class="fas fa-trash"></i></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <nav class="pagination">
                                        <li class="page-item active"><a data-remote="true" class="page-link">1</a></li>
                                        <li class="page-item"><a rel="next" class="page-link" data-remote="true"
                                                href="/gt_player_lists?page=2">2</a></li>
                                        <li class="page-item"><a class="page-link" data-remote="true"
                                                href="/gt_player_lists?page=3">3</a></li>
                                        <li class="page-item"><a class="page-link" data-remote="true"
                                                href="/gt_player_lists?page=4">4</a></li>
                                        <li class="page-item"><a class="page-link" data-remote="true"
                                                href="/gt_player_lists?page=5">5</a></li>
                                        <li class="page-item disabled"><a class="page-link" href="#">…</a></li>
                                        <li class="page-item"><a rel="next" class="page-link" data-remote="true"
                                                href="/gt_player_lists?page=2">Следующая ›</a></li>
                                        <li class="page-item"><a class="page-link" data-remote="true"
                                                href="/gt_player_lists?page=2966">Последняя »</a></li>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% include "./tpl/devmenu.html" %}
</body>

</html>