{% set title = "Page Name" %}
{% set user = ["Progamer", "BananaUser", "GromiK", "Drax", "kleale", "Bonus", "Gamover"] %}
{% set game = ["DOTA2", "CSGO", "LOL", "HEARTSTONE", "Overwatch", "Fortnite"] %}
{% set team = ["Movistar Riders", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI", "KG",
"Virtus.Pro"] %}
{% set teamlogo = ["team1", "team2", "team3", "team4", "team5"] %}
{% set teamlogo2 = ["3","11","16","4051","6274","10785","4653","49","17","1","14","15"] %}
{% set tourlogo = ["tour1", "tour2", "tour3", "tour4"] %}
{% set gamelogo = ["gl100","dota2", "csgo", "lol", "hs", "ow", "fn", "pubg", "rl", "artifact", "rs", "sc2"] %}
{% set tour = ["Overwatch Contenders 2019", "Kuala-Lumpur Major 2019", "LCK 2019 Spring", "Dream League 2019" ] %}
{% set num = ["1", "21", "34", "14", "3", "11", "7"] %}
{% set news = [" Менеджер проектов StarLadder: «Miracle получил визу, но не полетел в Китай
из-за личных обстоятельств»", "Virtus.pro вылетела с квалификации на европейский майнор IEM Katowice Major без
единой", "Нелепый отбор на майнор, читы, которых не было и другие новости утра", "Singularity и Kingdra прошли в
закрытую европейскую квалификацию на Dota Pit Minor", "Winstrike и Pavaga Junior прошли в закрытую квалификацию на Dota
Pit Minor", "Sayuw: «Стало легче играть с приходом Рината»", "Bafik про Na`Vi: «Когда я такие условия вижу, у меня
возникает вопрос: почему я не
вижу результаты?»"] %}
{% set date = ["1 января", "сегодня"] %}
{% set flag = ["flag1", "flag2", "flag3"] %}
{% set com = ["С каких пор друид меняет атаку с ближней на дальнюю? выход с ульты это считается как с ближней на
дальнюю? если да то почему, не считаете...", "Не понятно за что досталось дикому росту. Карта адекватна своей стоимости.
Могли бы убрать взять карту после 10 кристаллов маны и оставить стоимость. А так нерф карты убывает почти все архетипы
друида...", "Миллиард процентов 322 !
Вчера выйграть инферно против ldlc ,обыграв их НА ПИКЕ ПРОТИВНИКИОВ со счетом 16-4,сегодня обыграть противников на их
пике 16-4 и просрать инферно. ну-ну", "Рофло турик", "легкая для гамбит 2-0", "легкая для Team X, по прошлым играм."] %}
<!DOCTYPE html>
<html style="height: auto;">
{% include "./tpl/head.html" %}

<body class="sidebar-mini layout-fixed layout-navbar-fixed" data-controller="loader index" style="height: auto;">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4"><a class="brand-link"
                href="https://esnadm.com/"><span class="brand-text">DMP</span></a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3"><span class="info"><a class="d-block"
                            href="https://esnadm.com/dmp_admins/profiles/1/edit">adm@esnadm.com</a><a rel="nofollow"
                            data-method="delete" href="https://esnadm.com/dmp_admins/sign_out">Logout</a></span></div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                        role="menu">

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments">Турниры</a></li>

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_stages">Стадии</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_rounds">Раунды</a></li>
                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_round_tabs">Cубраунды</a></li>
                        <li class="nav-item"><a class="nav-link active" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_match_lists">Матчи</a></li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/discipline/api/dota2/live_games">API: Dota2<span
                                    class="right badge badge-danger" data-controller="realtime-partial"
                                    data-realtime-partial-key="discipline/api/dota2/live_game/unlinked_games">13</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/odds_matches">Коэффициенты на матчи</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_venues">Места проведения</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_teams_lists">Команды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_player_lists">Игроки</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_streams">Стримы</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_video_autos">Видео</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/esn_breezes">Новости</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><strong><a class="with-icon" data-action="click->edit#track_change"
                                    href="/gt_tournaments"><i class="fas fa-arrow-left"></i>Турниры</a></strong></li>
                        <li class="breadcrumb-item active">Tac8 Pro Am League / Tac8 PUBG Pro Am League (<span
                                class="inline-with-comma">ID: 4355</span><span class="inline-with-comma"><a
                                    target="_blank"
                                    href="https://escorenews.com/ru/pubg/tac8-pro-am-league">ESN</a></span><span
                                class="inline-with-comma"><a target="_blank"
                                    href="https://game-tournaments.com/pubg/tac8-pro-am-league">GT</a></span><span
                                class="inline-with-comma"><a target="_blank"
                                    href="https://ggscore.com/ru/pubg/tac8-pro-am-league">GG</a></span>)</li>
                    </ol>
                </div>
            </div>


            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <form class="simple_form edit_gt_tournament" id="edit_gt_tournament_4355" autocomplete="off"
                                novalidate="novalidate" action="/gt_tournaments/4355" accept-charset="UTF-8"
                                data-remote="true" method="post"><input type="hidden" name="_method" value="patch">
                                <div class="card" data-controller="edit-form">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=common">Главная</a>
                                            </li>

                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=descriptions">Описания
                                                    (RU)</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=all_teams">Команды:
                                                    16 (+0, -0)</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=slots">Слоты
                                                    (16)</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link active"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=places">Призовые
                                                    ($20054)</a></li>
                                        </ul>
                                    </div>
                                    

                                    
                                    
                                    <div class="card-footer"><input type="submit" name="commit"
                                            value="Сохранить + Редактировать" class="btn btn-primary"
                                            formaction="/gt_tournaments/4355?action_after_update=edit" method="post"
                                            data-disable-with="Сохранить + Редактировать"><input type="submit"
                                            name="commit" value="Сохранить" class="btn btn-primary"
                                            formaction="/gt_tournaments/4355?action_after_update=index" method="post"
                                            data-disable-with="Сохранить"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>


    </div>
    </div>
    {% include "./tpl/devmenu.html" %}
</body>
</html>