{% set title = "Page Name" %}
{% set user = ["Progamer", "BananaUser", "GromiK", "Drax", "kleale", "Bonus", "Gamover"] %}
{% set game = ["DOTA2", "CSGO", "LOL", "Overwatch", "Fortnite"] %}
{% set team = ["Movistar Riders", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI", "KG",
"Virtus.Pro"] %}
{% set teamlogo = ["team1", "team2", "team3", "team4", "team5"] %}
{% set teamlogo2 = ["3","11","16","4051","6274","10785","4653","49","17","1","14","15"] %}
{% set prize =
["12,000","11,000","16,000","4,000","6,274","1,000,000","46,530","4,900","1,700","10,000","140,000","1,500,000"] %}
{% set tourlogo = ["tour1", "tour2", "tour3", "tour4"] %}

{% set gamelogo = ["dota2", "csgo", "lol", "hs", "ow", "fn", "pubg", "rl", "artifact", "rs", "sc2"] %}
{% set tour = ["Five Winter Cup", "Brasil Esport CSCompetion 2021", "Dota Main Winter Cup 2020", "Fortnite Night Cup
2021", "LinkenID" ] %}
{% set tourshort = ["FWC", "DMWinCup", "Cyber Over ", "Lin", "HP", "shortt", "same", "DW2020", "BrasilEsport 21",
"CDA-FDC" ] %}
{% set toururl = ["five-winter-cup", "brasil-esport-cscompetion-2021", "dota-main-winter-cup-2020 ",
"fortnite-night-cup-2021", "cyber-over-cup-2020", "linkenid", "same", "full-hp", "engl" ] %}
{% set serie = ["Asian Gold Occupation ", "Masters Tournament", "VAL", "Merkur Masters", " NeXT", " ", " ", " ", " "] %}
{% set dates = ["2020-11-29 — 2020-11-29 ", "2020-11-27 — 2020-12-15", "2020-12-10 — 2020-12-12", "2020-12-12 —
2020-12-14", "2020-11-28 — 2020-11-29", "2020-11-23 — 2020-11-27", "2020-11-24 — 2020-12-15", "—"] %}

{% set num = ["1", "21", "34", "14", "3", "11", "7"] %}
{% set date = ["1 января", "сегодня"] %}
{% set status = ["Прошедший", "Будущий", "Текущий"] %}
{% set stagetype = ["Основная", "Группы", "Сетка"] %}
{% set stage = ["Stage1", "Main Event", "Stage 2", "Finals", "Latin America", "North America", "Qualifier", "Weekly
Final", "Weekly Survival"] %}
{% set stageurl = ["stage-2", "main-event", "stage-2", "finals", "latin-america", "north-america", "qualifier",
"weekly-final", "weekly-survival"] %}

<!DOCTYPE html>
<html style="height: auto;">
{% include "./tpl/head.html" %}

<style>
    span.select2.select2-container.select2-container--default:last-child {
        display: none;
    }
</style>

<body class="sidebar-mini layout-fixed layout-navbar-fixed" data-controller="loader index" style="height: auto;">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4"><a class="brand-link"
                href="https://esnadm.com/"><span class="brand-text">DMP</span></a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3"><span class="info"><a class="d-block"
                            href="https://esnadm.com/dmp_admins/profiles/1/edit">adm@esnadm.com</a><a rel="nofollow"
                            data-method="delete" href="https://esnadm.com/dmp_admins/sign_out">Logout</a></span></div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                        role="menu">

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments">Турниры</a></li>

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_stages">Стадии</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_rounds">Раунды</a></li>
                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_round_tabs">Cубраунды</a></li>
                        <li class="nav-item"><a class="nav-link active" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_match_lists">Матчи</a></li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/discipline/api/dota2/live_games">API: Dota2<span
                                    class="right badge badge-danger" data-controller="realtime-partial"
                                    data-realtime-partial-key="discipline/api/dota2/live_game/unlinked_games">13</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/odds_matches">Коэффициенты на матчи</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_venues">Места проведения</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_teams_lists">Команды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_player_lists">Игроки</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_streams">Стримы</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_video_autos">Видео</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/esn_breezes">Новости</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><strong><a class="with-icon" data-action="click->edit#track_change"
                                    href="/gt_tournaments"><i class="fas fa-arrow-left"></i>Турниры</a></strong></li>
                        <li class="breadcrumb-item active">Tac8 Pro Am League / Tac8 PUBG Pro Am League (<span
                                class="inline-with-comma">ID: 4355</span><span class="inline-with-comma"><a
                                    target="_blank"
                                    href="https://escorenews.com/ru/pubg/tac8-pro-am-league">ESN</a></span><span
                                class="inline-with-comma"><a target="_blank"
                                    href="https://game-tournaments.com/pubg/tac8-pro-am-league">GT</a></span><span
                                class="inline-with-comma"><a target="_blank"
                                    href="https://ggscore.com/ru/pubg/tac8-pro-am-league">GG</a></span>)</li>
                    </ol>
                </div>
            </div>


            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <form class="simple_form edit_gt_tournament" id="edit_gt_tournament_4355" autocomplete="off"
                                novalidate="novalidate" action="/gt_tournaments/4355" accept-charset="UTF-8"
                                data-remote="true" method="post"><input type="hidden" name="_method" value="patch">
                                <div class="card" data-controller="edit-form">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=common">Главная</a>
                                            </li>

                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=descriptions">Описания
                                                    (RU)</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=all_teams">Команды:
                                                    16 (+0, -0)</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=slots">Слоты
                                                    (16)</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link active"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments/4355/edit?gt_tournaments_form_part=places">Призовые
                                                    ($20054)</a></li>
                                        </ul>
                                    </div>

                                    <div class="card-body">
                                        <span data-dialog_text="Форма не сохранена. Всё равно продолжить?"
                                            data-target="edit.body edit-form.body"></span>
                                        <input value="places" type="hidden" name="gt_tournament[form_part]"
                                            id="gt_tournament_form_part">

                                            <div data-controller="nested-form">
                                                {% for i in 1..5 %}
                                                <div class="nested-fields form-row" data-controller="select2"
                                                    style="display:flex">
                                                    <div
                                                        class="form-group col-sm-1 string optional gt_tournament_prize_places_place form-group-valid">
                                                        <input class="form-control string optional" placeholder="Место"
                                                            type="text" value="1"
                                                            name="gt_tournament[prize_places_attributes][0][place]"
                                                            id="gt_tournament_prize_places_attributes_0_place"></div>
                                                    <div
                                                        class="form-group col-sm-2 string optional gt_tournament_prize_places_prize">
                                                        <input class="form-control string optional" placeholder="Приз"
                                                            type="text" name="gt_tournament[prize_places_attributes][0][prize]"
                                                            id="gt_tournament_prize_places_attributes_0_prize"></div>

                                                    <div class="form-group col-sm-1">
                                                        <input class="form-control string optional" placeholder="%"
                                                            type="text" 
                                                            id="gt_tournament_percent">
                                                    </div>
                                                    <div
                                                        class="form-group col-sm-2 string required gt_tournament_prize_places_decorated_points">
                                                        <input class="form-control string required" placeholder="Очки"
                                                            type="text"
                                                            name="gt_tournament[prize_places_attributes][0][decorated_points]"
                                                            id="gt_tournament_prize_places_attributes_0_decorated_points"></div>
                                                    <input value="4475" type="hidden"
                                                        name="gt_tournament[prize_places_attributes][0][tid]"
                                                        id="gt_tournament_prize_places_attributes_0_tid">
                                                    <div
                                                        class="form-group col-sm-2 select2 optional gt_tournament_prize_places_invite_in form-group-valid">
                                                        <select class="form-control select2 optional select2-hidden-accessible"
                                                            autocomplete="off" data-target="select2.select" data-width="100%"
                                                            data-language="ru"
                                                            data-queryparams="tid=4475&amp;game_id=100&amp;data_start=2021-01-06"
                                                            data-endpoint="gt_tournaments/prize_places/invites_in.json"
                                                            data-template-selection-name="template_with_icon"
                                                            data-template-result-name="template_with_icon"
                                                            data-placeholder="Инвайт на" data-allow-clear="true"
                                                            data-minimum-input-length="1"
                                                            data-adapter-func="select2/data/extended-ajax"
                                                            name="gt_tournament[prize_places_attributes][0][event_id]"
                                                            id="gt_tournament_prize_places_attributes_0_event_id"
                                                            data-select2-id="gt_tournament_prize_places_attributes_0_event_id"
                                                            tabindex="-1" aria-hidden="true">
                                                            <option value="" data-select2-id="595">Инвайт на</option>
                                                        </select><span
                                                            class="select2 select2-container select2-container--default"
                                                            dir="ltr" data-select2-id="594" style="width: 100%;"><span
                                                                class="selection"><span
                                                                    class="select2-selection select2-selection--single"
                                                                    role="combobox" aria-haspopup="true" aria-expanded="false"
                                                                    tabindex="0" aria-disabled="false"
                                                                    aria-labelledby="select2-gt_tournament_prize_places_attributes_0_event_id-container"><span
                                                                        class="select2-selection__rendered"
                                                                        id="select2-gt_tournament_prize_places_attributes_0_event_id-container"
                                                                        role="textbox" aria-readonly="true"><span
                                                                            class="select2-selection__placeholder">Инвайт
                                                                            на</span></span><span
                                                                        class="select2-selection__arrow" role="presentation"><b
                                                                            role="presentation"></b></span></span></span><span
                                                                class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                                                    <div
                                                        class="form-group col-sm-3 select2 optional gt_tournament_prize_places_team_in form-group-valid">
                                                        <select class="form-control select2 optional select2-hidden-accessible"
                                                            autocomplete="off" data-target="select2.select" data-width="100%"
                                                            data-language="ru" data-queryparams="tid=4475"
                                                            data-endpoint="gt_tournaments/prize_places/teams_in.json"
                                                            data-before-submit="beforeSubmit_addSelectedTeamsToRequestFor_gt_tournament"
                                                            data-template-selection-name="template_with_icon"
                                                            data-template-result-name="template_with_icon_result"
                                                            data-placeholder="Выберите участника" data-allow-clear="true"
                                                            data-minimum-input-length="1"
                                                            data-adapter-func="select2/data/extended-ajax"
                                                            name="gt_tournament[prize_places_attributes][0][team]"
                                                            id="gt_tournament_prize_places_attributes_0_team"
                                                            data-select2-id="gt_tournament_prize_places_attributes_0_team"
                                                            tabindex="-1" aria-hidden="true">
                                                            <option value="" data-select2-id="597">Выберите участника</option>
                                                            <option
                                                                data-template_with_icon="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/4.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';&quot; src=&quot;https://assets.esnadm.com/media/logo/_30/t27259.png?x1Bv&quot; />&nbsp;<a onclick=&quot;event.stopPropagation()&quot; target=&quot;_blank&quot; href=&quot;/gt_teams_lists/27259/edit&quot;>1246</a></span>"
                                                                data-template_with_icon_result="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/4.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';&quot; src=&quot;https://assets.esnadm.com/media/logo/_30/t27259.png?qs7Z&quot; />&nbsp;1246</span>"
                                                                value="27259" data-select2-id="598">1246</option>
                                                            <option
                                                                data-template_with_icon="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/26.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';&quot; src=&quot;https://assets.esnadm.com/media/logo/_30/t69621.png?CxtY&quot; />&nbsp;<a onclick=&quot;event.stopPropagation()&quot; target=&quot;_blank&quot; href=&quot;/gt_teams_lists/69621/edit&quot;>ERVS / E-RIVALS</a></span>"
                                                                data-template_with_icon_result="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/26.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';&quot; src=&quot;https://assets.esnadm.com/media/logo/_30/t69621.png?M1yW&quot; />&nbsp;ERVS / E-RIVALS</span>"
                                                                value="69621" data-select2-id="599">ERVS / E-RIVALS</option>
                                                            <option
                                                                data-template_with_icon="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/90.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; src=&quot;https://assets.esnadm.com/media/logo/not.svg&quot; />&nbsp;<a onclick=&quot;event.stopPropagation()&quot; target=&quot;_blank&quot; href=&quot;/gt_teams_lists/69960/edit&quot;>Test 3</a></span>"
                                                                data-template_with_icon_result="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/90.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; src=&quot;https://assets.esnadm.com/media/logo/not.svg&quot; />&nbsp;Test 3</span>"
                                                                value="69960" data-select2-id="600">Test 3</option>
                                                            <option
                                                                data-template_with_icon="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/15.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';&quot; src=&quot;https://assets.esnadm.com/media/logo/_30/t69953.png?tSBN&quot; />&nbsp;<a onclick=&quot;event.stopPropagation()&quot; target=&quot;_blank&quot; href=&quot;/gt_teams_lists/69953/edit&quot;>TEST2</a></span>"
                                                                data-template_with_icon_result="<span class=&quot;icon-label&quot;><img style=&quot;width: 24px; height: 24px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';&quot; src=&quot;https://assets.esnadm.com/media/flag/15.png&quot; /><img style=&quot;width: 30px; height: 30px; object-fit: contain;&quot; onerror=&quot;this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';&quot; src=&quot;https://assets.esnadm.com/media/logo/_30/t69953.png?mpjM&quot; />&nbsp;TEST2</span>"
                                                                selected="selected" value="69953" data-select2-id="601">TEST2
                                                            </option>
                                                        </select><span
                                                            class="select2 select2-container select2-container--default"
                                                            dir="ltr" data-select2-id="596" style="width: 100%;"><span
                                                                class="selection"><span
                                                                    class="select2-selection select2-selection--single"
                                                                    role="combobox" aria-haspopup="true" aria-expanded="false"
                                                                    tabindex="0" aria-disabled="false"
                                                                    aria-labelledby="select2-gt_tournament_prize_places_attributes_0_team-container"><span
                                                                        class="select2-selection__rendered"
                                                                        id="select2-gt_tournament_prize_places_attributes_0_team-container"
                                                                        role="textbox" aria-readonly="true" title="TEST2"><span
                                                                            class="select2-selection__clear"
                                                                            title="Удалить все элементы"
                                                                            data-select2-id="602">×</span><span
                                                                            class="icon-label"><img
                                                                                style="width: 24px; height: 24px; object-fit: contain;"
                                                                                onerror="this.onerror=null; this.src='https://assets.esnadm.com/media/flags/0.svg';"
                                                                                src="https://assets.esnadm.com/media/flag/15.png"><img
                                                                                style="width: 30px; height: 30px; object-fit: contain;"
                                                                                onerror="this.onerror=null; this.src='https://assets.esnadm.com/media/logo/not.svg';"
                                                                                src="https://assets.esnadm.com/media/logo/_30/t69953.png?tSBN">&nbsp;<a
                                                                                onclick="event.stopPropagation()"
                                                                                target="_blank"
                                                                                href="/gt_teams_lists/69953/edit">TEST2</a></span></span><span
                                                                        class="select2-selection__arrow" role="presentation"><b
                                                                            role="presentation"></b></span></span></span><span
                                                                class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                                                    <div class="form-group form-group--vcenter col-1 text-right"><a
                                                            class="btn-sm btn-danger"
                                                            data-action="click->nested-form#remove_association" href="#"><i
                                                                class="fas fa-trash"></i></a><input type="hidden" value="false"
                                                            name="gt_tournament[prize_places_attributes][0][_destroy]"
                                                            id="gt_tournament_prize_places_attributes_0__destroy"></div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                    </div>

                                    <div class="card-footer"><input type="submit" name="commit"
                                            value="Сохранить + Редактировать" class="btn btn-primary"
                                            formaction="/gt_tournaments/4355?action_after_update=edit" method="post"
                                            data-disable-with="Сохранить + Редактировать"><input type="submit"
                                            name="commit" value="Сохранить" class="btn btn-primary"
                                            formaction="/gt_tournaments/4355?action_after_update=index" method="post"
                                            data-disable-with="Сохранить"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        </div>


    </div>
    </div>
    {% include "./tpl/devmenu.html" %}
</body>

</html>