{% set title = "Page Name" %}
{% set user = ["Progamer", "BananaUser", "GromiK", "Drax", "kleale", "Bonus", "Gamover"] %}
{% set game = ["DOTA2", "CSGO", "LOL", "Overwatch", "Fortnite"] %}
{% set team = ["Creep", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI", "KG",
"Virtus.Pro"] %}
{% set teamlong = ["Movistar Riders", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI",
"KG",
"Virtus.Pro"] %}
{% set teamurl=
["dreamteam-2","somos-los-rex","creep-gaming","toshik-gaming","dreamteam-2","testuniverse2","hashteam1","take-that","gol-pashmian-ya-kon-pashm"]
%}
{% set teamlogo = ["team1", "team2", "team3", "team4", "team5"] %}
{% set teamlogo2 = ["3","11","16","4051","6274","10785","4653","49","17","1","14","15"] %}
{% set prize =
["12,000","11,000","16,000","4,000","6,274","1,000,000","46,530","4,900","1,700","10,000","140,000","1,500,000"] %}
{% set tourlogo = ["tour1", "tour2", "tour3", "tour4"] %}

{% set gamelogo = ["dota2", "csgo", "lol", "hs", "ow", "fn", "pubg", "rl", "artifact", "rs", "sc2"] %}
{% set tour = ["Five Winter Cup", "Brasil Esport CSCompetion 2021", "Dota Main Winter Cup 2020", "Fortnite Night Cup
2021", "LinkenID" ] %}
{% set tourshort = ["FWC", "DMWinCup", "Cyber Over ", "Lin", "HP", "shortt", "same", "DW2020", "BrasilEsport 21",
"CDA-FDC" ] %}
{% set toururl = ["five-winter-cup", "brasil-esport-cscompetion-2021", "dota-main-winter-cup-2020 ",
"fortnite-night-cup-2021", "cyber-over-cup-2020", "linkenid", "same", "full-hp", "engl" ] %}
{% set serie = ["Asian Gold Occupation ", "Masters Tournament", "VAL", "Merkur Masters", " NeXT", " ", " ", " ", " "] %}


{% set num = ["1", "21", "34", "14", "3", "11", "7"] %}
{% set date = ["1 января", "сегодня"] %}
{% set status = ["Прошедший", "Будущий", "Текущий"] %}
{% set stagetype = ["Основная", "Группы", "Сетка"] %}
{% set stage = ["Stage1", "Main Event", "Stage 2", "Finals", "Latin America", "North America", "Qualifier", "Weekly
Final", "Weekly Survival"] %}
{% set stageurl = ["stage-2", "main-event", "stage-2", "finals", "latin-america", "north-america", "qualifier",
"weekly-final", "weekly-survival"] %}

{% set player = ["PAAD1N", "Nightaliscious", "Choko", "Bisbo", "Aggro" ] %}
{% set playerlong = ["Bronnikov Roman", "Voronin Danil", "Akram Patarov", "Nguyễn Lâm Việt Sinh", "Kang Min-seok" ] %}
{% set playerurl = ["123-smurf", "nightaliscious", "choko", "Bisbo", "aggro" ] %}
{% set burth = ["1988-07-22", "1966-04-12", "1975-03-01", "2001-05-08", "2007-04-08"] %}
{% set id = ["5838563453", "5838562255", "5838539413", "5838539385", "583853952", "5838539962", "5838539936"] %}

{% set scorenum = ["12:24", "2:4", "1:2", "1:4", "2:12", "3:1", "4:6", "3:6", "0:2", "1:0" ] %}
{% set hash = ["#1", "#2", "#2", "#1", "#2", "#3", "#3", "", "", "" ] %}

{% set time = ["12:00", "14:45", "00:30", "23:00", "22:15", "21:30", "16:15"] %}
{% set date = ["2021-01-18", "2020-12-23","2020-12-23","2020-12-23","2020-12-22","2020-12-24","2020-12-25" ] %}

{% set type = ["LIVE", "LPL"] %}


<!DOCTYPE html>
<html style="height: auto;">
{% include "./tpl/head.html" %}

<style>
    .select2-container--default~.select2-container--default {
        display: none !important;
    }
</style>


<body class="sidebar-mini layout-fixed layout-navbar-fixed" data-controller="loader index" style="height: auto;">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4"><a class="brand-link"
                href="https://esnadm.com/"><span class="brand-text">DMP</span></a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3"><span class="info"><a class="d-block"
                            href="https://esnadm.com/dmp_admins/profiles/1/edit">adm@esnadm.com</a><a rel="nofollow"
                            data-method="delete" href="https://esnadm.com/dmp_admins/sign_out">Logout</a></span></div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                        role="menu">

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments">Турниры</a></li>

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_stages">Стадии</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_rounds">Раунды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_round_tabs">Cубраунды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_match_lists">Матчи</a></li>
                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/discipline/api/dota2/live_games">API: Dota2<span
                                    class="right badge badge-danger" data-controller="realtime-partial"
                                    data-realtime-partial-key="discipline/api/dota2/live_game/unlinked_games">13</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link active" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/discipline/api/dota2/live_games">API: LOL<span
                                    class="right badge badge-danger" data-controller="realtime-partial"
                                    data-realtime-partial-key="discipline/api/dota2/live_game/unlinked_games">5</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/odds_matches">Коэффициенты на матчи</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_venues">Места проведения</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_teams_lists">Команды</a></li>
                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_player_lists">Игроки</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_streams">Стримы</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_video_autos">Видео</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/esn_breezes">Новости</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper" style="min-height: 588px;">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><strong><a class="with-icon" href="/"><i
                                                class="fas fa-home"></i>Dashboard</a></strong></li>
                                <li class="breadcrumb-item active">API: LOL</li>
                            </ol>
                        </div>
                        <div class="col-2 copy-url">
                            <a data-title="Обратите внимание" data-message="URL скопирован в буфер обмена"
                                data-target="filter-form.link" data-action="filter-form#copy_url" href="#"><i
                                    class="fas fa-copy"></i> Ссылка на страницу</a>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card" id="discipline/api/dota2/live_games_filter">
                                <div class="card-body" data-controller="filter-form">
                                    <form novalidate="novalidate" class="simple_form search"
                                        action="/discipline/api/dota2/live_games.js" accept-charset="UTF-8"
                                        data-remote="true" method="get">
                                        <div class="form-row" data-controller="select2" data-target="filter-form.form">
                                            <div
                                                class="form-group col-sm-6 select2 required search_live_dota2_tournament">
                                                <select class="form-control select2 required select2-hidden-accessible"
                                                    autocomplete="off" data-target="select2.select" data-width="100%"
                                                    data-language="ru" data-queryparams="related_id=582"
                                                    data-endpoint="gt_tournaments_id.json" data-related="#search_game"
                                                    data-on-change="onChange_liveDota2Tournament"
                                                    data-template-selection-name="template_with_icon_and_db_id"
                                                    data-template-result-name="template_with_icon_and_db_id"
                                                    data-placeholder="Выберите турнир" data-allow-clear="true"
                                                    data-minimum-input-length="1"
                                                    data-adapter-func="select2/data/extended-ajax"
                                                    name="search[live_dota2_tournament]"
                                                    id="search_live_dota2_tournament"
                                                    data-select2-id="search_live_dota2_tournament" tabindex="-1"
                                                    aria-hidden="true">
                                                    <option value="" data-select2-id="8">Выберите турнир</option>
                                                </select>
                                            </div>
                                            <input type="hidden" name="search[tournament]" id="search_tournament"
                                                value="">
                                            <div
                                                class="col-sm-1 form-group boolean optional gt_errors form-group-valid">
                                                <div class="custom-control custom-switch mt-2">
                                                    <input name="gt_match_list[defwin]" type="hidden" value="0"><input
                                                        class="custom-control-input boolean optional" type="checkbox"
                                                        value="1" name="gt_match_list[defwin]" id="gt_errors"><label
                                                        class="custom-control-label boolean optional"
                                                        for="gt_errors">Ошибки</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1" style="white-space: nowrap;">
                                                <span class="span-link">
                                                    <a class="btn btn-primary" data-title="Обратите внимание"
                                                        data-message="URL скопирован в буфер обмена"
                                                        data-target="filter-form.link"
                                                        data-action="filter-form#copy_url" href="#"><i
                                                            class="fas fa-copy"></i>
                                                    </a>
                                                </span>
                                                <span class="span-link"><button name="button" type="submit"
                                                        class="btn btn-primary"><i
                                                            class="fas fa-search"></i></button></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card" id="discipline/api/dota2/live_games_index">
                                <div class="overlay dark" id="index-loader" style="display:none"><i
                                        class="fas fa-3x fa-sync-alt fa-spin"></i></div>

                                <div class="card-body p-0">
                                    <div class="table-responsive" data-controller="sortable putable">
                                        <table class="table table-striped table-valign-middle table-hover text-nowrap">
                                            <thead class="dark">
                                                <tr>
                                                    <th class="text-center" width="50px">Статус</th>
                                                    <th width="180px">Дата</th>
                                                    <th width="100px">Тип</th>
                                                    <th width="150px">Турнир</th>
                                                    <th class="text-center">Матч</th>
                                                    <th width="150px">Время</th>
                                                    <!-- <th width="120px">GT</th> -->
                                                    <th width="270px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in 1..5 %}
                                                <tr id="row-{{i}}">
                                                    <td class="text-center">
                                                        {% if i == 2 %}
                                                        <i style="color:green" title="ОК"
                                                            class="fas fa-check tip show-toast"></i>
                                                        {% elseif i == 3 %}
                                                        <i style="color:red" class="fas fa-times tip" data-remote="true"
                                                            data-toggle="popover" data-placement="bottom" title="Ошибка"
                                                            data-content="Описание ошибки"></i>
                                                        {% else %}
                                                        <!-- <i style="color:gray" title="В процессе" class="fas fa-ellipsis-h"></i> -->
                                                        <i style="color:gray" title="В процессе"
                                                            data-content="Описание ошибки" data-toggle="modal"
                                                            data-target="#modal_error" class="far fa-circle tip"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td class="m-time">
                                                        {{random(date)}}&nbsp;&nbsp;<strong>{{random(time)}}</strong>&nbsp;&nbsp;MSK
                                                    </td>
                                                    <td>
                                                        {% if i == 3 or i == 5 %}
                                                        <a href="/">MH</a>
                                                        {% else %}
                                                        {{random(type)}}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if i == 3 or i == 5 %}
                                                        <span class="filterico"><a href="/"><i
                                                                    class="fas fa-filter"></i></a></span>
                                                        <a class="text-success"
                                                            href="/gt_tournaments/2996/edit">{{random(tour)}}</a>
                                                        &nbsp;&nbsp;
                                                        {% else %}
                                                        <span class="filterico"></span>
                                                        <a class="text-body"
                                                            href="/gt_tournaments/2996/edit">{{random(tour)}}</a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="teams-line">
                                                            {% if i == 3 or i == 5 %}
                                                            <span class="t1 win"><b>{{random(team)}}</b></span>
                                                            <span
                                                                class="tscore">&nbsp;[{{random(scorenum)}}]&nbsp;</span>
                                                            <span class="t2"><b>{{random(team)}}</b></span>
                                                            {% else %}
                                                            <span class="t1"><b>{{random(team)}}</b></span>
                                                            <span
                                                                class="tscore">&nbsp;[{{random(scorenum)}}]&nbsp;</span>
                                                            <span class="t2"><b>{{random(team)}}</b></span>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="live">{% if i == 1 %} <i style="color:red"
                                                                title="LIVE" class="fas fa-circle"></i>{% endif
                                                            %}</span>
                                                        00:2{{i}}:5{{i}}
                                                    </td>
                                                    <!-- <td>
                                                        {% if i == 3 or i == 5 %}
                                                        <a href="/">{{random()}}</a>{{random(hash)}}
                                                        {% endif %}
                                                    </td> -->

                                                    <!-- <td class="text-right">
                                                        <a class="btn btn-success btn-sm select-matches-link-4122"
                                                            data-remote="true"
                                                            href="/discipline/api/dota2/live_games/5838563453/matches?filter=4122%2C4087&amp;live_game%5Bdire_series_wins%5D=0&amp;live_game%5Bdire_team%5D%5Bteam_id%5D=0&amp;live_game%5Bdire_team%5D%5Bteam_name%5D=&amp;live_game%5Bfrom_history%5D=false&amp;live_game%5Bleague_id%5D=4122&amp;live_game%5Bleague_name%5D=FACEIT+League&amp;live_game%5Bmatch_id%5D=5838563453&amp;live_game%5Bradiant_series_wins%5D=0&amp;live_game%5Bradiant_team%5D%5Bteam_id%5D=0&amp;live_game%5Bradiant_team%5D%5Bteam_name%5D=&amp;live_game%5Bscoreboard%5D%5Bdire%5D%5Bscore%5D=17&amp;live_game%5Bscoreboard%5D%5Bduration%5D=1524&amp;live_game%5Bscoreboard%5D%5Bradiant%5D%5Bscore%5D=27&amp;live_game%5Bstart_time%5D="><i
                                                                class="fas fa-gamepad"></i></a>
                                                        <a class="btn btn-primary btn-sm"
                                                            href="/discipline/api/dota2/live_games/5838563453?filter=4122%2C4087%2C5838563453&amp;live_game%5Bdire_series_wins%5D=0&amp;live_game%5Bdire_team%5D%5Bteam_id%5D=0&amp;live_game%5Bdire_team%5D%5Bteam_name%5D=&amp;live_game%5Bfrom_history%5D=false&amp;live_game%5Bleague_id%5D=4122&amp;live_game%5Bleague_name%5D=FACEIT+League&amp;live_game%5Bmatch_id%5D=5838563453&amp;live_game%5Bradiant_series_wins%5D=0&amp;live_game%5Bradiant_team%5D%5Bteam_id%5D=0&amp;live_game%5Bradiant_team%5D%5Bteam_name%5D=&amp;live_game%5Bscoreboard%5D%5Bdire%5D%5Bscore%5D=17&amp;live_game%5Bscoreboard%5D%5Bduration%5D=1524&amp;live_game%5Bscoreboard%5D%5Bradiant%5D%5Bscore%5D=27&amp;live_game%5Bstart_time%5D=&amp;search%5Blive_dota2_tournament%5D=4122%2C4087%2C5838563453"><i
                                                                class="fas fa-info-circle"></i></a>
                                                    </td> -->
                                                    <td class="text-right">
                                                        <!-- <a class="btn btn-success btn-sm" data-remote="true" href="/"><i class="fas fa-gamepad"></i></a> -->
                                                        {% if i == 1 or i == 2 or i == 3 or i == 5 %}
                                                        <a class="btn btn-secondary btn-sm" href="/"><i
                                                                class="fas fa-sync"></i></a>
                                                        <a class="btn btn-success btn-sm" data-remote="true" href="/"
                                                            data-toggle="modal" data-target="#add_match"
                                                            data-remote="true"><i class="fas fa-check"></i></a>
                                                        {% else %}
                                                        <a class="btn btn-secondary btn-sm" data-remote="true" href="/"
                                                            data-toggle="modal" data-target="#add_match"
                                                            data-remote="true">
                                                            <i class="fas fa-question"></i>
                                                        </a>
                                                        {% endif %}
                                                        <a class="btn btn-primary btn-sm"
                                                            href="/discipline/api/dota2/live_games/5838563453?filter=4122%2C4087%2C5838563453&amp;live_game%5Bdire_series_wins%5D=0&amp;live_game%5Bdire_team%5D%5Bteam_id%5D=0&amp;live_game%5Bdire_team%5D%5Bteam_name%5D=&amp;live_game%5Bfrom_history%5D=false&amp;live_game%5Bleague_id%5D=4122&amp;live_game%5Bleague_name%5D=FACEIT+League&amp;live_game%5Bmatch_id%5D=5838563453&amp;live_game%5Bradiant_series_wins%5D=0&amp;live_game%5Bradiant_team%5D%5Bteam_id%5D=0&amp;live_game%5Bradiant_team%5D%5Bteam_name%5D=&amp;live_game%5Bscoreboard%5D%5Bdire%5D%5Bscore%5D=17&amp;live_game%5Bscoreboard%5D%5Bduration%5D=1524&amp;live_game%5Bscoreboard%5D%5Bradiant%5D%5Bscore%5D=27&amp;live_game%5Bstart_time%5D=&amp;search%5Blive_dota2_tournament%5D=4122%2C4087%2C5838563453"><i
                                                                class="fas fa-info-circle"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="card-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    {% include "./tpl/devmenu.html" %}

    <div class="modal fade" id="modal_error" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
        <div class="modal-dialog modal-lg" role="document" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">
                        Заголовок ошибки
                    </h6>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content" id="discipline_api_dota2_api_games_matches_modal_body">
                        Текст ошибки Текст ошибки Текст ошибки Текст ошибки Текст ошибки Текст ошибки
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="myToast" data-delay="4000"
        style="position: absolute; top: 1rem; right: 1rem;">
        <div class="toast-header">
            <i class="fas fa-info-circle"></i>&nbsp;&nbsp;
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>

    <div class="modal fade" id="add_match" role="dialog" tabindex="-1" style="display: none;" aria-modal="true">
        <div class="modal-dialog modal-lg" role="document" style="width: 1100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="discipline_api_dota2_api_games_matches_modal_title">
                        Матч:
                        <small class="api"> 12692</small>
                        <!-- <small class="api">ID: 12692</small> -->
                    </h6>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true"> ×</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content" id="discipline_api_dota2_api_games_matches_modal_body">
                        <form class="simple_form new_discipline_api_dota2_api_game"
                            id="new_discipline_api_dota2_api_game_5868145518" novalidate="novalidate"
                            data-controller="select2"
                            action="/discipline/api/dota2/api_games/5868145518/matches/5868145518"
                            accept-charset="UTF-8" data-remote="true" method="post"><input type="hidden" name="_method"
                                value="patch">
                            <div data-controller="nested-form">

                                {% for i in 1..5 %}
                                <div class="form-row nested-fields {% if i == 2 %}green{% endif %}">

                                    <label class="col-sm-9 col-form-label mmm" for="gt_tournament_all_team_ids">
                                        {% if i == 1 %}
                                        <!-- <i style="color:green" title="ОКОК" class="fas fa-check-double"></i> -->
                                        {% elseif i == 2 %}
                                        <i style="color:green" title="ОК" class="fas fa-check"></i>
                                        {% elseif i == 3 %}
                                        <i style="color:red" title="Ошибка" class="fas fa-times"></i>
                                        {% elseif i == 4 %}
                                        <!-- <i title="В процессе" class="fas fa-minus"></i> -->
                                        {% else %}
                                        <i style="color:orange" title="В процессе" class="far fa-circle"></i>
                                        {% endif %}

                                        <a class="text-body complex-name mmlink"
                                            href="/gt_match_lists/324999/edit?gt_match_lists_form_part=games">
                                            {% if i == 1 %}
                                            [bo3]&nbsp;&nbsp;
                                            {% else %}
                                            [bo1]&nbsp;&nbsp;
                                            {% endif %}
                                            <span>2020-12-25&nbsp;&nbsp;<strong>00:30</strong>&nbsp;&nbsp;MSK</span>
                                            <span>Brasil Esport CSCompetion 2021</span>
                                            <span>Qualifier</span>
                                            <span>B-D</span>
                                            <span>
                                                <strong>TBD</strong>
                                                <s>[1:0]</s>
                                                <strong>Movistar Riders</strong>
                                            </span>
                                        </a>
                                    </label>

                                    <input type="hidden" value="324999"
                                        name="discipline_api_dota2_api_game[matches_attributes][0][id]"
                                        id="discipline_api_dota2_api_game_matches_attributes_0_id">
                                    <div class="col-sm-3">
                                        <div class="form-row">
                                            <div class="col">
                                                <input class="form-control form-control-sm string optional text-center"
                                                    data-id="324999" data-action="input->nested-form#choose_trigger"
                                                    placeholder="№ карты" type="text"
                                                    name="discipline_api_dota2_api_game[matches_attributes][0][map_num]"
                                                    id="discipline_api_dota2_api_game_matches_attributes_0_map_num">
                                            </div>
                                            <div class="col">
                                                <a class="btn btn-outline-primary btn-sm" href="/"><i
                                                        class="fas fa-link"></i> Прикрепить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <hr>
                            <input type="submit" name="commit" value="Добавить матч" class="btn btn-success">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>