{% set title = "Page Name" %}
{% set user = ["Progamer", "BananaUser", "GromiK", "Drax", "kleale", "Bonus", "Gamover"] %}
{% set game = ["DOTA2", "CSGO", "LOL", "Overwatch", "Fortnite"] %}
{% set team = ["Creep", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI", "KG",
"Virtus.Pro"] %}
{% set teamlong = ["Movistar Riders", "Gambit", "Liquid", "Mineski", "OG", "EG", "Empire", "Ehome", "Navi", "VICI",
"KG",
"Virtus.Pro"] %}
{% set teamurl=
["dreamteam-2","somos-los-rex","creep-gaming","toshik-gaming","dreamteam-2","testuniverse2","hashteam1","take-that","gol-pashmian-ya-kon-pashm"]
%}
{% set teamlogo = ["team1", "team2", "team3", "team4", "team5"] %}
{% set teamlogo2 = ["3","11","16","4051","6274","10785","4653","49","17","1","14","15"] %}
{% set prize =
["12,000","11,000","16,000","4,000","6,274","1,000,000","46,530","4,900","1,700","10,000","140,000","1,500,000"] %}
{% set tourlogo = ["tour1", "tour2", "tour3", "tour4"] %}

{% set gamelogo = ["dota2", "csgo", "lol", "hs", "ow", "fn", "pubg", "rl", "artifact", "rs", "sc2"] %}
{% set tour = ["Five Winter Cup", "Brasil Esport CSCompetion 2021", "Dota Main Winter Cup 2020", "Fortnite Night Cup
2021", "LinkenID" ] %}
{% set tourshort = ["FWC", "DMWinCup", "Cyber Over ", "Lin", "HP", "shortt", "same", "DW2020", "BrasilEsport 21",
"CDA-FDC" ] %}
{% set toururl = ["five-winter-cup", "brasil-esport-cscompetion-2021", "dota-main-winter-cup-2020 ",
"fortnite-night-cup-2021", "cyber-over-cup-2020", "linkenid", "same", "full-hp", "engl" ] %}
{% set serie = ["Asian Gold Occupation ", "Masters Tournament", "VAL", "Merkur Masters", " NeXT", " ", " ", " ", " "] %}
{% set dates = ["2020-11-29 — 2020-11-29 ", "2020-11-27 — 2020-12-15", "2020-12-10 — 2020-12-12", "2020-12-12 —
2020-12-14", "2020-11-28 — 2020-11-29", "2020-11-23 — 2020-11-27", "2020-11-24 — 2020-12-15", "—"] %}

{% set num = ["1", "21", "34", "14", "3", "11", "7"] %}
{% set date = ["1 января", "сегодня"] %}
{% set status = ["Прошедший", "Будущий", "Текущий"] %}
{% set stagetype = ["Основная", "Группы", "Сетка"] %}
{% set stage = ["Stage1", "Main Event", "Stage 2", "Finals", "Latin America", "North America", "Qualifier", "Weekly
Final", "Weekly Survival"] %}
{% set stageurl = ["stage-2", "main-event", "stage-2", "finals", "latin-america", "north-america", "qualifier",
"weekly-final", "weekly-survival"] %}

{% set player = ["PAAD1N", "Nightaliscious", "Choko", "Bisbo", "Aggro" ] %}
{% set playerlong = ["Bronnikov Roman", "Voronin Danil", "Akram Patarov", "Nguyễn Lâm Việt Sinh", "Kang Min-seok" ] %}
{% set playerurl = ["123-smurf", "nightaliscious", "choko", "Bisbo", "aggro" ] %}
{% set burth = ["1988-07-22", "1966-04-12", "1975-03-01", "2001-05-08", "2007-04-08"] %}


<!DOCTYPE html>
<html style="height: auto;">
{% include "./tpl/head.html" %}

<style>
    .select2-container--default~.select2-container--default {
        display: none !important;
    }
</style> 


<body class="sidebar-mini layout-fixed layout-navbar-fixed" data-controller="loader index" style="height: auto;">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4"><a class="brand-link"
                href="https://esnadm.com/"><span class="brand-text">DMP</span></a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3"><span class="info"><a class="d-block"
                            href="https://esnadm.com/dmp_admins/profiles/1/edit">adm@esnadm.com</a><a rel="nofollow"
                            data-method="delete" href="https://esnadm.com/dmp_admins/sign_out">Logout</a></span></div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                        role="menu">

                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments">Турниры</a></li>

                        <li class="nav-item"><a class="nav-link active" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_stages">Стадии</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_rounds">Раунды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_tournaments_round_tabs">Cубраунды</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_match_lists">Матчи</a></li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/discipline/api/dota2/live_games">API: Dota2<span
                                    class="right badge badge-danger" data-controller="realtime-partial"
                                    data-realtime-partial-key="discipline/api/dota2/live_game/unlinked_games">13</span></a>
                        </li>

                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/odds_matches">Коэффициенты на матчи</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_venues">Места проведения</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_teams_lists">Команды</a></li>
                        <li class="nav-item"><a class="nav-link" data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_player_lists">Игроки</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_streams">Стримы</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/gt_video_autos">Видео</a></li>
                        <li class="nav-item"><a class="nav-link " data-action="click-&gt;edit#track_change"
                                href="https://esnadm.com/esn_breezes">Новости</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper" style="min-height: 588px;">
            <div class="content-header">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><strong><a class="with-icon" data-action="click->edit#track_change"
                                    href="/gt_tournaments_stages"><i class="fas fa-arrow-left"></i>Стадии</a></strong>
                        </li>
                        <li class="breadcrumb-item"><a data-action="click->edit#track_change"
                                href="/gt_tournaments/4469/edit">LWCall 2021</a></li>
                        <li class="breadcrumb-item active">Playoff (<span class="inline-with-comma">ID:
                                15799</span><span class="inline-with-comma"><a target="_blank"
                                    href="https://escorenews.com/ru/lol/lcall/all-star-game">ESN</a></span><span
                                class="inline-with-comma"><a target="_blank"
                                    href="https://game-tournaments.com/lol/lcall/all-star-game">GT</a></span><span
                                class="inline-with-comma"><a target="_blank"
                                    href="https://ggscore.com/ru/lol/lcall/all-star-game">GG</a></span>)</li>
                    </ol>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <form class="simple_form edit_gt_tournaments_stage" id="edit_gt_tournaments_stage_15799"
                                autocomplete="off" novalidate="novalidate" action="/gt_tournaments_stages/15799"
                                accept-charset="UTF-8" data-remote="true" method="post"><input type="hidden"
                                    name="_method" value="patch">
                                <div class="card" data-controller="edit-form">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link active"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments_stages/15799/edit?gt_tournaments_stages_form_part=common">Главная</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments_stages/15799/edit?gt_tournaments_stages_form_part=places">Призовые
                                                    места</a></li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments_stages/15799/edit?gt_tournaments_stages_form_part=grid">Сетка</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link"
                                                    data-action="click->edit#track_change" data-remote="true"
                                                    href="/gt_tournaments_stages/15799/edit?gt_tournaments_stages_form_part=cache"><span
                                                        class="translation_missing"
                                                        title="translation missing: ru.form.parts.cache">Cache</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body"><span
                                            data-dialog_text="Форма не сохранена. Всё равно продолжить?"
                                            data-target="edit.body edit-form.body"></span><input value="common"
                                            type="hidden" name="gt_tournaments_stage[form_part]"
                                            id="gt_tournaments_stage_form_part">
                                        <div data-controller="select2 autocomplete datepicker">
                                            <div
                                                class="form-group row hidden gt_tournaments_stage_tournament form-group-valid">
                                                <div class="col-sm-10"><input class="form-control hidden" type="hidden"
                                                        value="4469" name="gt_tournaments_stage[tid]"
                                                        id="gt_tournaments_stage_tid"></div>
                                            </div>
                                            <div
                                                class="form-group row select2 optional gt_tournaments_stage_parent_stage form-group-valid">
                                                <label class="col-sm-2 col-form-label select2 optional"
                                                    for="gt_tournaments_stage_stage">Родительская стадия</label>
                                                <div class="col-sm-10"><select
                                                        class="form-control select2 optional select2-hidden-accessible"
                                                        autocomplete="off" data-target="select2.select"
                                                        data-width="100%" data-language="ru"
                                                        data-endpoint="gt_tournaments_stages/parent_stages.json"
                                                        data-related="#gt_tournaments_stage_tid"
                                                        data-on-change="onChange_parentStage"
                                                        data-placeholder="Выберите стадию" data-allow-clear="true"
                                                        data-minimum-input-length="1"
                                                        data-adapter-func="select2/data/extended-ajax"
                                                        name="gt_tournaments_stage[stage]"
                                                        id="gt_tournaments_stage_stage"
                                                        data-select2-id="gt_tournaments_stage_stage" tabindex="-1"
                                                        aria-hidden="true">
                                                        <option value="" data-select2-id="2">Выберите стадию</option>
                                                        <option selected="selected" value="15798" data-select2-id="3">
                                                            All Star Game Call</option>
                                                    </select><span
                                                        class="select2 select2-container select2-container--default"
                                                        dir="ltr" data-select2-id="1" style="width: 100%;"><span
                                                            class="selection"><span
                                                                class="select2-selection select2-selection--single"
                                                                role="combobox" aria-haspopup="true"
                                                                aria-expanded="false" tabindex="0" aria-disabled="false"
                                                                aria-labelledby="select2-gt_tournaments_stage_stage-container"><span
                                                                    class="select2-selection__rendered"
                                                                    id="select2-gt_tournaments_stage_stage-container"
                                                                    role="textbox" aria-readonly="true"
                                                                    title="All Star Game Call"><span
                                                                        class="select2-selection__clear"
                                                                        title="Удалить все элементы"
                                                                        data-select2-id="5">×</span>All Star Game
                                                                    Call</span><span class="select2-selection__arrow"
                                                                    role="presentation"><b
                                                                        role="presentation"></b></span></span></span><span
                                                            class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                            
                                            <div
                                                class="form-group row string optional gt_tournaments_stage_title form-group-valid">
                                                <label class="col-sm-2 col-form-label string optional"
                                                    for="gt_tournaments_stage_title">Сокращенное название</label>
                                                <div class="col-sm-10">
                                                    <div class="awesomplete"><input class="form-control string optional"
                                                            autocomplete="off" data-target="autocomplete.input"
                                                            data-endpoint="gt_tournaments_stages/titles.json"
                                                            data-queryparams="true"
                                                            data-onchoose="TournamentsStages_OnChoose"
                                                            data-getvalue="title" type="text" value="Playoff"
                                                            name="gt_tournaments_stage[title]"
                                                            id="gt_tournaments_stage_title" aria-expanded="false"
                                                            aria-owns="awesomplete_list_2" role="combobox">
                                                        <ul hidden="" role="listbox" id="awesomplete_list_2"></ul><span
                                                            class="visually-hidden" role="status" aria-live="assertive"
                                                            aria-atomic="true">Type 1 or more characters for
                                                            results.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="form-group row string required gt_tournaments_stage_name form-group-valid">
                                                <label class="col-sm-2 col-form-label string required"
                                                    for="gt_tournaments_stage_name">Полное название <abbr
                                                        title="обязательное">*</abbr></label>
                                                <div class="col-sm-10">
                                                    <div class="awesomplete"><input class="form-control string required"
                                                            autocomplete="off" data-target="autocomplete.input"
                                                            data-endpoint="gt_tournaments_stages/names.json"
                                                            data-queryparams="true"
                                                            data-onchoose="TournamentsStages_OnChoose"
                                                            data-getvalue="text" type="text" value="Playoff"
                                                            name="gt_tournaments_stage[name]"
                                                            id="gt_tournaments_stage_name" aria-expanded="false"
                                                            aria-owns="awesomplete_list_1" role="combobox">
                                                        <ul hidden="" role="listbox" id="awesomplete_list_1"></ul><span
                                                            class="visually-hidden" role="status" aria-live="assertive"
                                                            aria-atomic="true">Type 1 or more characters for
                                                            results.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="form-group row select2 required gt_tournaments_stage_form form-group-valid">
                                                <label class="col-sm-2 col-form-label select2 required"
                                                    for="gt_tournaments_stage_form">Тип <abbr
                                                        title="обязательное">*</abbr></label>
                                                <div class="col-sm-10"><select
                                                        class="form-control select2 required select2-hidden-accessible"
                                                        autocomplete="off" data-target="select2.select"
                                                        data-width="100%" data-language="ru"
                                                        data-placeholder="Выберите тип"
                                                        data-adapter-func="select2/data/extended-ajax"
                                                        name="gt_tournaments_stage[form]" id="gt_tournaments_stage_form"
                                                        data-select2-id="gt_tournaments_stage_form" tabindex="-1"
                                                        aria-hidden="true">
                                                        <option value="group">Группы</option>
                                                        <option selected="selected" value="grid" data-select2-id="7">
                                                            Сетка</option>
                                                        <option value="tabs">Вкладки</option>
                                                        <option value="multi">Основная</option>
                                                    </select><span
                                                        class="select2 select2-container select2-container--default"
                                                        dir="ltr" data-select2-id="6" style="width: 100%;"><span
                                                            class="selection"><span
                                                                class="select2-selection select2-selection--single"
                                                                role="combobox" aria-haspopup="true"
                                                                aria-expanded="false" tabindex="0" aria-disabled="false"
                                                                aria-labelledby="select2-gt_tournaments_stage_form-container"><span
                                                                    class="select2-selection__rendered"
                                                                    id="select2-gt_tournaments_stage_form-container"
                                                                    role="textbox" aria-readonly="true"
                                                                    title="Сетка">Сетка</span><span
                                                                    class="select2-selection__arrow"
                                                                    role="presentation"><b
                                                                        role="presentation"></b></span></span></span><span
                                                            class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>
                                            </div>
                                            <div
                                                class="form-group row integer optional gt_tournaments_stage_date_from form-group-valid">
                                                <label class="col-sm-2 col-form-label integer optional"
                                                    for="gt_tournaments_stage_date_from">Дата начала</label>
                                                <div class="col-sm-10"><input
                                                        class="form-control numeric integer optional" value="2020-12-14"
                                                        type="text" data-target="datepicker.single"
                                                        data-locale="{&quot;format&quot;:&quot;YYYY-MM-DD&quot;,&quot;singleDatePicker&quot;:true,&quot;separator&quot;:&quot;—&quot;,&quot;applyLabel&quot;:&quot;Принять&quot;,&quot;cancelLabel&quot;:&quot;Отменить&quot;,&quot;fromLabel&quot;:&quot;с&quot;,&quot;toLabel&quot;:&quot;по&quot;,&quot;daysOfWeek&quot;:[&quot;Вс&quot;,&quot;Пн&quot;,&quot;Вт&quot;,&quot;Ср&quot;,&quot;Чт&quot;,&quot;Пт&quot;,&quot;Сб&quot;],&quot;monthNames&quot;:[&quot;янв.&quot;,&quot;февр.&quot;,&quot;марта&quot;,&quot;апр.&quot;,&quot;мая&quot;,&quot;июня&quot;,&quot;июля&quot;,&quot;авг.&quot;,&quot;сент.&quot;,&quot;окт.&quot;,&quot;нояб.&quot;,&quot;дек.&quot;],&quot;firstDay&quot;:1}"
                                                        step="1" name="gt_tournaments_stage[date_from]"
                                                        id="gt_tournaments_stage_date_from" placeholder="YYYY-MM-DD">
                                                </div>
                                            </div>
                                            <div
                                                class="form-group row integer optional gt_tournaments_stage_date_to form-group-valid">
                                                <label class="col-sm-2 col-form-label integer optional"
                                                    for="gt_tournaments_stage_date_to">Дата окончания</label>
                                                <div class="col-sm-10"><input
                                                        class="form-control numeric integer optional" value="2020-12-14"
                                                        type="text" data-target="datepicker.single"
                                                        data-locale="{&quot;format&quot;:&quot;YYYY-MM-DD&quot;,&quot;singleDatePicker&quot;:true,&quot;separator&quot;:&quot;—&quot;,&quot;applyLabel&quot;:&quot;Принять&quot;,&quot;cancelLabel&quot;:&quot;Отменить&quot;,&quot;fromLabel&quot;:&quot;с&quot;,&quot;toLabel&quot;:&quot;по&quot;,&quot;daysOfWeek&quot;:[&quot;Вс&quot;,&quot;Пн&quot;,&quot;Вт&quot;,&quot;Ср&quot;,&quot;Чт&quot;,&quot;Пт&quot;,&quot;Сб&quot;],&quot;monthNames&quot;:[&quot;янв.&quot;,&quot;февр.&quot;,&quot;марта&quot;,&quot;апр.&quot;,&quot;мая&quot;,&quot;июня&quot;,&quot;июля&quot;,&quot;авг.&quot;,&quot;сент.&quot;,&quot;окт.&quot;,&quot;нояб.&quot;,&quot;дек.&quot;],&quot;firstDay&quot;:1}"
                                                        step="1" name="gt_tournaments_stage[date_to]"
                                                        id="gt_tournaments_stage_date_to" placeholder="YYYY-MM-DD">
                                                </div>
                                            </div>
                                            <div class="form-group row string optional gt_tournaments_stage_color_1">
                                                <label class="col-sm-2 col-form-label string optional"
                                                    style="color:#82ac4e" for="gt_tournaments_stage_color_1">Выделить
                                                    строки</label>
                                                <div class="col-sm-10"><input class="form-control string optional"
                                                        placeholder="Пояснение" type="text"
                                                        name="gt_tournaments_stage[color_1]"
                                                        id="gt_tournaments_stage_color_1"></div>
                                            </div>
                                            <div class="form-group row string optional gt_tournaments_stage_color_2">
                                                <label class="col-sm-2 col-form-label string optional"
                                                    style="color:#f2c94c" for="gt_tournaments_stage_color_2">Выделить
                                                    строки</label>
                                                <div class="col-sm-10"><input class="form-control string optional"
                                                        placeholder="Пояснение" type="text"
                                                        name="gt_tournaments_stage[color_2]"
                                                        id="gt_tournaments_stage_color_2"></div>
                                            </div>
                                            <div class="form-group row string optional gt_tournaments_stage_color_3">
                                                <label class="col-sm-2 col-form-label string optional"
                                                    style="color:blue" for="gt_tournaments_stage_color_3">Выделить
                                                    строки</label>
                                                <div class="col-sm-10"><input class="form-control string optional"
                                                        placeholder="Пояснение" type="text"
                                                        name="gt_tournaments_stage[color_3]"
                                                        id="gt_tournaments_stage_color_3"></div>
                                            </div>
                                            <div class="form-group row string optional gt_tournaments_stage_color_4">
                                                <label class="col-sm-2 col-form-label string optional"
                                                    style="color:#eb5757" for="gt_tournaments_stage_color_4">Выделить
                                                    строки</label>
                                                <div class="col-sm-10"><input class="form-control string optional"
                                                        placeholder="Пояснение" type="text"
                                                        name="gt_tournaments_stage[color_4]"
                                                        id="gt_tournaments_stage_color_4"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer"><input type="submit" name="commit"
                                            value="Сохранить + Редактировать" class="btn btn-primary"
                                            formaction="/gt_tournaments_stages/15799?action_after_update=edit"
                                            method="post" data-disable-with="Сохранить + Редактировать"><input
                                            type="submit" name="commit" value="Сохранить" class="btn btn-primary"
                                            formaction="/gt_tournaments_stages/15799?action_after_update=index"
                                            method="post" data-disable-with="Сохранить"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    {% include "./tpl/devmenu.html" %}
</body>

</html>