/****************/
/*** hide double select in dev ***/
// span.select2.select2-container.select2-container--default:last-child {
//     display: none;
// }
/*** .hide double select ***/

body {
    font-size: 13px;
    font-family: helvetica;
    color: #313131;
}
.btn {
    padding: 0.375rem 0.8rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.btn-group-sm > .btn,
.btn-sm {
    padding: .35rem .5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.layout-navbar-fixed .wrapper .content-wrapper {
    margin-top: 0;
}

.btn-primary {
    background-color: #2196f3;
    border-color: transparent;
}

.btn-transparent-danger {
    color: #e91e63;
}

.btn-transparent-primary {
    color: #03a9f4;
}

.btn-transparent-success {
    color: #8bc34a;
}

a {
    color: #2196f3;
}

.card {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
}

.card-footer {
    background: #fff;
}

.card-header h6 {
    margin: 5px 0;
}

form .card-body {
    background: #fff;
}

.page-item.active .page-link {
    background-color: #2196f3;
    border-color: transparent;
}

.page-link {
    border-color: #fff;
    background: #f4f6f9;
    color: #525252;
    border-radius: 5px;
}

.page-item.disabled .page-link {
    border-color: transparent;
}

.page-item:first-child .page-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-control {
    font-size: 13px;
    line-height: 25px;
}

.form-check-input {
    margin-top: 0 !important;
}

img.svgicon {
    margin-right: 12px;
    width: 16px;
    height: 16px;
    position: relative;
    top: -2px;
    opacity: 0.3;
}

.gameicon {
    width: 18px;
    height: 18px;
}

.form-group.label-up label.select2,
.form-group.label-up label.optional,
.form-group.label-up label.string {
    position: absolute;
    z-index: 1;
    margin-top: -8px;
    padding: 0 6px;
    font-size: 11px;
    background: #fff;
    margin-left: 4px;
    width: auto;
}
.input-group-text {
    font-size: 13px;
    background-color: #f5faff;
}
.col-form-label {
    line-height: 23px;
}

.accordion .card-body {
    padding-bottom: 0;
}

.card-body .table {
    margin-bottom: 0;
}

.table {
    td,
    th {
        border-top: 1px solid #f1f1f1;
        padding: 0.5rem;
        line-height: 1rem;
    }
    tr:last-child td {
        border-bottom: 1px solid #f1f1f1;
    }

    img {
        max-width: 30px;
        max-height: 30px;
    }
    thead.dark {
        background-color: #e1e7ec;
        border-radius: 5px 5px 0 0;
    }

    thead.dark th {
        color: #333;
        font-weight: bold;
        font-size: 10px;
        padding-top: 16px;
        padding-bottom: 15px;
        text-transform: uppercase;
    }

    tbody + tbody {
        border-top: 1px solid #dee2e6;
    }

    thead.dark {
        background-color: #ffffff;
    }

    tbody.with-main-row tr:first-child,
    tbody tr.sub-row {
        background-color: transparent;
    }
    td.eventLogo {
        padding-right: 0;
        width: 39px;
    }
}

span.table__hl {
    border: 0;
    background: transparent;
    padding: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: transparent;
}

.with-main-row tr td {
    border-bottom: 1px solid #f1f1f1;
}

.table__hl {
    text-align: inherit;
}
.table-hover tbody tr:hover {
    background-color: #f4fafe;
}

.with-main-row:hover {
    background: #f3f9fd;
}

/* .table tbody.with-main-row tr:first-child{
    background: inherit;
}
.table tbody.with-main-row tr:second-child{
    background: inherit;
} */

.form-check {
    font-weight: 700;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin-bottom: -21px;
}

.custom-control-label:after,
.custom-control-label:before {
    top: 0.15rem;
}

[data-target="uppy.uploaded"] img {
    display: block;
    max-width: 100%;
    border: 2px solid #e2e2e2;
    margin: 0;
}
.ml-21px {
    margin-left: 21px;
}

.edit-teams-list {
    .list-group-item {
        padding: 0.5rem 0;
        img {
            margin-right: 5px;
        }
    }
    li.list-group-item {
        display: flex;
        align-items: center;
    }
    .tname {
        flex-grow: 1;
    }
}

.custom-switch {
    line-height: 21px;
    .custom-control-label:after {
        top: calc(0.15rem + 2px);
    }
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    font-size: 20px;
    color: #dc3545;
}

.percent-block {
    max-width: 60px;
    line-height: 39px;
    text-align: center;
}

.mnum {
    border: 0;
    background: #e9ecef;
    min-width: 28px;
    padding-right: 0;
    padding-left: 0;
    color: #495057;
    border-radius: .25rem;
    padding: .375rem .5rem;
    display: block;
    height: 32px;
    margin-right: 15px;
}
a.mnum {
    &:hover {
        background: #e0f1ff;
    }
}
.gt_match_list_games_attributes {
    display: flex;
    align-items: center;
    padding: 3px;
}

.btns {
    padding: 3px;
}

.teams-line {
    display: flex;
    span {
        width: 50%;
        b {
            font-weight: normal;
        }
        &.t1 {
            text-align: right;
            small {
                margin-left: 5px;
            }
        }
        &.t2 {
            small {
                margin-left: 5px;
            }
        }
        &.win b {
            border-bottom: 2px solid;
        }
        &.green {
            color: #82ac4e;
        }
        small {
            font-size: 12px;
            color: #b3b3b3;
        }
    }
    .tscore {
        width: 60px;
        text-align: center;
    }
}
.green {
    color: #82ac4e;
}
.black{
    color: #313131;
}
.form-row .btns {
    max-width: 75px;
}

.badge-num {
    text-align: center;
    line-height: 13px;
    margin-right: 15px;
    font-size: 12px;
    background: #eaeaea;
    &.badge-danger {
        color: red;
    }
}
.numdiv {
    width: 30px;
}

.complex-name s {
    text-decoration: none;
    padding: 0 5px;
}
.pl-input.form-control {
    width: 32px;
    padding: 1px;
    line-height: 10px;
    height: 25px;
    text-align: center;
    margin-right: 10px;
}
.live {
    width: 9px;
    font-size: 6px;
    display: inline-block;
    position: relative;
    top: -3px;
}

.teams-on-live {
    .team-logo {
        img {
            width: 50px;
        }
    }
}

.table.const td,
.table.const th {
    vertical-align: middle;
}
.col-2.vert-line:before {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #ccc;
    left: 50%;
}

.form-group .feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
}

.filterico {
    width: 20px;
    display: inline-block;
}

.teams-on-live {
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;

    @media (max-width: 1024px) {
        padding: 1rem 0 0;
    }

    > span {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        flex-basis: 13rem;
        padding: 1rem;
        text-decoration: none;

        @media (max-width: 1024px) {
            padding: 0;
        }

        

        picture {
            display: flex;
            max-width: 11rem;
            height: 5rem;
            line-height: 5rem;
            align-content: center;
            align-items: center;
            justify-content: center;

            > * {
                max-height: 3rem;
                display: block;

                @media (max-width: 1024px) {
                    height: 2rem;
                }
            }
        }

        h2 {
            font-size: 1rem;
            margin-top: 0;
            margin-bottom: 4px;
        }

        b {
            font-size: 1rem;
            display: inline;
            font-weight: normal;
        }

        &.win {
            b {
                border-bottom: 2px solid;
            }
        }

        u {
            font-size: 0.65rem;
            text-decoration: none;
            color: #707070;
        }

        s {
            text-decoration: none;
            position: absolute;
            top: 0rem;
            right: 2rem;
            width: 1.2rem;
            line-height: 1.2rem;
            height: 1.2rem;
            border-radius: 1.6rem;
            font-size: 0.6rem;
            color: #3764a0;
            border: 1px solid #3764a0;
        }

        &:last-child s {
            right: auto;
            left: 2rem;
        }

        sup {
            display: flex;
            align-content: center;
            padding: 1rem 0 0;
            justify-content: center;
            flex-wrap: wrap;

            i,
            a {
                margin: 0 0.05rem;
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 1rem;
                background: #babdce;
                text-decoration: none;
                cursor: pointer;
                margin: 0 0.2rem 0.2rem;
                @media (max-width: 1024px) {
                    margin: 0 0.1rem 0.2rem;
                }

                &.win,
                &.mtype1 {
                    background: #82ac4e;
                }

                &.loose,
                &.mtype-1 {
                    background: #eb5757;
                }
            }
        }
    }

    .score {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        font-size: 0.9rem;
        color: #30404f;
        padding: 0.15rem 1rem;

        h2,
        h3,
        h4 {
            font-size: 0.85rem;
            margin-bottom: 0.5rem;
            text-align: center;
        }

        b {
            margin-top: 0.5rem;
        }

        .kf {
            color: #707070;
        }

        .progress {
            margin: 0.5rem 0;
        }

        u {
            text-decoration: none;
        }

        .type1 {
            background: transparent;
            font-size: 1.8rem;
            line-height: 2rem;
            font-weight: bold;
            color: #000;
            padding: 1rem 0 1.2rem;
            width: auto;

            &.ended {
                s {
                    animation: none;
                }
            }

            s {
                margin: 0 0.5rem;
                text-decoration: none;
            }
        }
    }
}

.teams-on-live-hrzntl {
    align-items: center;

    .api{
        font-size: 11px;
    }
}

.game-header {
    display: flex;
    align-items: center;
    .game-score {
        flex-basis: 100px;
        text-align: center;
        font-size: 23px;
        margin-right: 20px;
    }
    .game-info {
    }
    .timer {
        font-size: 14px;
        color: #30404f;
    }
    h3 {
        font-size: 18px;
    }
    .gm{
        margin-right: 5px;
    }
    .api{
        margin-left: 5px;
    }
}

.teamblock {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    .team-logo {
        padding-right: 20px;
    }
    a {
        font-size: 15px;
    }
    .team-num {
        margin-right: 20px;
    }

    .win {
        a {
            border-bottom: 2px solid;
        }
    }

}

.const.table {
    margin: 0;
    tr {
        &:last-child td {
            border-bottom: 0;
        }
        td,
        th {
            border-bottom: 1px solid #f1f1f1;
            border-top: 0;
            padding: 2px;
            line-height: 1rem;
            font-size: 11px;
        }
    }
}

.playerName{
    b{
        display: inline-block;
        width: 24px;
    }
}

.api{
    color: #299caf;
}

.modal-header {
    padding: .5rem 1rem;
}

.complex-name span+span:before {
    content: "→";
    padding: 0 5px;
}
.mmlink{
    font-weight: normal;
}

.more-tours{
    span{
        border: 1px solid #e0e0e0;
        padding: 2px 5px;
        border-radius: 4px;
        margin-right: 5px;
        color: #313131;
        font-size: 12px;
    }
}

.mmm{
    padding-left: 30px!important;
    i{
        position: absolute;
        left: 5px;
        top: 11px;
    }
}